*{
    margin: 0;
    padding: 0;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.personal-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    height: 90vh;
    width: 30%;
    background-color: rgb(249, 228, 241);
    border: 2px solid brown;
    border-radius: 30px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid brown;
}

.personal-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

i{
    margin-right: 25px;
    margin-top: 5px;
    cursor: pointer;
}

p{
    margin-bottom: 10px;
    font-family: "Encode Sans Expanded", sans-serif;
}

li{
    margin-left: 20px;
    font-family: "Encode Sans Expanded", sans-serif;
}

h1, h2{
    font-family: "Candal", sans-serif;
}