*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.personal-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}